@import '~bootstrap/scss/bootstrap';
@import './admin';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Unbounded:wght@200;300;400&display=swap');
@import './variables.scss';

.segnaposto{
    display: flex;
    width: 140px;
    aspect-ratio: 1/1;
    color: lightgray;
    background-color: gray;
    align-items: center;
    justify-content: center;
    
  }

  .bg_blue {
    background: $deliveboo-secondary;
}

//classi btn hover color
.hover_blu_light {
    &:hover {
        background: $deliveboo-secondary-light;
    }
}


//layout
p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Unbounded', cursive;
}