@import '~bootstrap/scss/bootstrap';


.segnaposto{
    display: flex;
    width: 140px;
    aspect-ratio: 1/1;
    color: lightgray;
    background-color: gray;
    align-items: center;
    justify-content: center;
    
  }